
/*-- scss:rules --*/

body {
  text-align: justify;
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}